.library-container {
  display: flex;
  height: calc(100vh - 45px); /* nếu có header */
  overflow: hidden;
  width: 100%;
}

.library-main {
  flex: 3;
  padding: 15px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.library-main h2 {
  margin-bottom: 4px;
  margin-top: 0px;
}

.library-main input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 16px;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-item {
  display: flex;
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.book-item div strong {
  font-size: 20px;
  font-weight: bold;
}
.book-item div p {
  font-size: 12px;
}

.book-item img {
  width: 80px;
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
}

.library-detail {
  flex: 1;
  padding: 20px;
  background-color: #e9e9e9;
  border-left: 1px solid #ccc;
}
.library-detail h3 {
  font-size: 30px;
}
.library-detail p {
  font-size: 20px;
}
.library-detail button {
  font-size: 18px;
}
